*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677,#4e085f);
  padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  margin: 100px auto 20px;
  padding: 30px 30px 60px;
  border-radius: 10px;
}

.todo-app h2{
  display: flex;
  color: #002765;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app img{
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.row input{
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  background: transparent;
}
.row button{
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color:#ff5945;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
ul li {
  list-style-type: none;
  padding: 10px 8px 10px 40px; /* Increased left padding to accommodate the ::before element */
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute; 
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url(./images/unchecked.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%; /* Center the ::before element vertically */
  left: 8px;
  transform: translateY(-50%);
}
#list-container .checked{
  color: #555;
  text-decoration: line-through;
}
.checked::before {
  background: url(./images/check.png);
}
